:root {
  --common-boxshadow: #bea98d 0px 4px 8px;
  --branding-color: #dbb98d;
  --branding-font: "Italiana", sans-serif;
}
.main-container {
  margin: auto;
  background-color: var(--branding-color);
}
.navigationBar {
  background-color: #dbc2a2;
  box-shadow: var(--common-boxshadow);
  margin-bottom: 12px;
}
.heading-font-size {
  font-weight: 600;
}
.common-font {
  font-family: var(--branding-font);
  font-style: normal;
}
.navbar-nav > li {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 30px;
  margin-right: 30px;
}
.margin-top {
  padding-left: 30px;
  margin-top: 100px;
}
.slogan-position {
  margin-top: 240px;
  margin-left: 200px;
  font-size: 25px;
}
.profile-picture {
  margin-top: 50px;
}

.image-size {
  width: 400px;
}
.project-image-size {
  width: 530px;
  height: 480px;
}
.yoga-image-size {
  width: 400px;
}
.yoga-image-position {
  margin-left: 200px;
}
.project-images {
  margin-left: 130px;
  object-fit: contain;
}
.image-filter {
  filter: grayscale(1);
}
.image-hover:hover {
  filter: none;
}
.sub-heading-font-size {
  font-size: 40px;
}

.paragraph-alignments {
  font-size: 20px;
  margin-top: 50px;
}
.btn-branding-outline {
  color: black;
  border: 1px solid black;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border-radius: 4px;
}

@media (min-width: 330px) and (max-width: 844px) {
  .image-mobilescreen,
  .image-size {
    width: 250px;
  }
  .slogan-position {
    margin-left: 20px;
    margin-top: 40px;
    text-align: center !important;
  }
  .project-image-size {
    width: 380px;
    height: 330px;
  }
  .yoga-image-size {
    width: 250px;
  }
  .paragraph-alignments {
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
  }
  .project-images {
    margin-left: 20px;
  }
  .yoga-image-position {
    margin-left: 80px;
  }
}
